{% extends 'base.html.twig' %}

{% block title %}Anime list - {{ parent() }}{% endblock %}
{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/anime-style.css') }}">
{% endblock %}

{% block body %}

<h1 class="titleAnimes">List of Animes</h1>
<div class="dropdowns">

{# This is a dropdown to select an anime by genre #}
  <div class="dropdown genre">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Select Anime By Genre
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {% for anime in animeGenre %}
          <a class="dropdown-item" href="{{ path('anime', {'genre': anime.id} )}}">{{ anime.name }}</a>
      {% endfor %}
    </div>
  </div>

{# This is a dropdown to select an anime by rating #}
  <div class="dropdown rating">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Select Anime By Rating
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {% for anime in animeRating %}
          <a class="dropdown-item" href="{{ path('anime', {'rated': anime.id} )}}">{{ anime.name }}</a>
      {% endfor %}
      {# This rating are base on MyAnimeList Rating https://myanimelist.net/info.php?go=mpaa #}
    </div>
  </div>
</div>

{# We setted a next and previous button, if we are on the first page, only the next button will be display.
  If we are on the second page or higher, the previous button will be display, it allows us to navigate throughout every pages #}
{% if animes is not empty %}
  <div class="pagination {{ page > 1 ? '' : 'pagination2' }}">
      {% if page > "1" %}
          <a href="{{ path('anime', {'page': page - 1, 'rated': rated, 'genre': genre} )}}" class="btn btn-info previous">Previous Page</a>
      {% endif %}
          <a href="{{ path('anime', {'page': page + 1, 'rated': rated, 'genre': genre} )}}" class="btn btn-info next">Next Page</a>
  </div>
{% endif %}

<div class="wrapper {{ animes is empty ? 'wrapper2' : '' }}">
    
    {# We make a loop on our anime content to display them to our view #}
    {% for anime in animes %}

        <div class="card" style="width: 18rem;">
            <img src="{{ anime.image_url}}" class="card-img-top" alt="...">
            <div class="card-body">
                
                {# We check if there is a logged user, and we do the favorite treatment (FavoriteController) #}
                {% if app.user %}
                  
                  {% set break = false %}
                  
                  {% for anime1 in app.user.favorites %}
                    {% if anime1.malId == anime.mal_id %}
                      <a href="{{ path('favorite_anime', {'id': anime.mal_id} )}}">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        {% set break = true %}
                      </a>
                    {% endif %}
                  {% endfor %}
                  
                  {% if not break %}
                    <a href="{{ path('favorite_anime', {'id': anime.mal_id} )}}">
                      <i class="fa fa-heart-o" aria-hidden="true"></i>
                    </a>
                  {% endif %}
                  
                {% endif %}
                
                <h5 class="card-title">{{ anime.title}}</h5>
                
                {% if anime.synopsis == null %}
                    <p>There is no description for this anime</p>
                {% else %}
                    <p class="card-text">{{ anime.synopsis|slice(0,100) }}...</p>
                {% endif %}
                
                <a href="{{ path('anime_details', { 'id': anime.mal_id} )}}" class="btn btn-primary">Details</a>
            </div>
        </div>

    {% endfor %}
</div>
    
    {# We check if our animes is empty, if it's the case, we set a small warning message with a back to animes list button.
      Otherwise, we set a next and previous button, if we are on the first page, only the next button will be display.
      If we are on the second page or higher, the previous button will be display, it allows us to navigate throughout every pages #}
    {% if animes is empty %}
      <div class="empty-anime">
        <p class="sorryMsg">Sorry there are no more animes for this category.</p> 
        <a href="{{path('anime')}}" class="btn btn-info linkEmpty">Back to animes list</a>
      </div>
    {% else %}
        <div class="pagination {{ page > 1 ? '' : 'pagination2' }}">
        {% if page > "1" %}
            <a href="{{ path('anime', {'page': page - 1, 'rated': rated, 'genre': genre} )}}" class="btn btn-info previous">Previous Page</a>
        {% endif %}
            <a href="{{ path('anime', {'page': page + 1, 'rated': rated, 'genre': genre} )}}" class="btn btn-info next">Next Page</a>
        </div>
    {% endif %}

{% endblock %}
