{% extends 'base.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/anime-style.css') }}">
{% endblock %}

{% block body %}

<div class="dropdown rating">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select Anime Rating
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{{ path('anime', {'rated': 'g'} )}}">All Ages</a>
    <a class="dropdown-item" href="{{ path('anime', {'rated': 'pg'} )}}">Children</a>
    <a class="dropdown-item" href="{{ path('anime', {'rated': 'pg13'} )}}">Teens 13 or older</a>
    <a class="dropdown-item" href="{{ path('anime', {'rated': 'r17'} )}}">17+ recommended</a>
    {# This rating are base on MyAnimeList Rating https://myanimelist.net/info.php?go=mpaa #}
  </div>
</div>

<div class="dropdown genre">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select Anime Genre
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{{ path('anime', {'genre': '1'} )}}">Action</a>
  </div>
</div>

<div class="wrapper">
    
    {% for anime in animes %}

        <div class="card" style="width: 18rem;">
            <img src="{{ anime['image_url']}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ anime['title']}}</h5>
                
                {% if anime['synopsis'] == null %}
                    <p>There is no description for this anime</p>
                {% else %}
                    <p class="card-text">{{ anime['synopsis']}}</p>
                {% endif %}
                
                <a href="#" class="btn btn-primary">Details</a>
            </div>
        </div>

    {% endfor %}
</div>

<div class="pagination {{ page > 1 ? '' : 'pagination2' }}">
    {% if page > "1" %}
        <a href="{{ path('anime', {'page': page - 1, 'rated': rated} )}}" class="btn btn-info previous">Previous Page</a>
    {% endif %}
        <a href="{{ path('anime', {'page': page + 1, 'rated': rated} )}}" class="btn btn-info next">Next Page</a>
</div>


{% endblock %}
